figures
ms
*figure*
*old*.*
*old*/
*.png
ncbi_gene_seq_fetcher/seq_whole_genome.fasta
ncbi_gene_seq_fetcher/old
*.fasta
*.gz
*.npz
*.newick
*.tsv
*.csv
_pychache_

!tree_potF.newick
!environmental_data.csv
!organisms_input.csv
!mastertable.tsv